@{
    ViewBag.Title = "About";
}

<section id="wrapper" class="wrapper container">
    <main>
        <section class="row">

            <article id="bio" class="col-xs-12">
                <h1>Bio</h1>
                <img id="cronanSnowboard1" src="/Content/Images/Cronan-Gogarty/Cronan-Gogarty-Snowboard1.png" width="265" height="450" alt="Cronan Gogarty Snowboard" />
                <p>
                    I started front-end web dev during the first dot-com boom, back in the days when we laid out pages using rigid HTML tables <!--and invisible gifs to control table layout-->. I progressed quickly to writing JavaScript and CSS along with using Photoshop to optimize images for the web.
                    With my appetite whetted, I soon began to ask the back-end developers about the CGI scripts they were writing in Perl, I learned the concepts of CGI and using Unix commands to deploy code to our servers.
                </p>
                <p>
                    A change of employer introduced me to the world of Microsoft Active Server Pages (classic ASP) and soon I was creating web applications using ASP in Homesite / Dreamweaver.
                    <!--This was a wonderful time for an eager young web developer,--> I learned how to interact with SQL Server databases using ADO, I became a skilled ASP developer and was a key member of the team that developed and launched a full-scale eLearning portal.
                </p>



                <p>
                    Wanderlust lead me to South-East Asia and the Antipodes and a career-break.
                    Upon my return to Europe, the dot-com bubble had burst and it was time to return to full-time education. In quick succession I completed the following;
                    <ul>
                        <li><mark>Level 5 Certificate in Creative Digital Media Production</mark></li>
                        <li><mark>Level 6 Advanced Certificate in Software Development</mark> @*(equivilant to an Associate Degree)*@</li>
                        <li><mark>Sun Certified Programmer for the Java 2 Platform 1.2</mark></li>
                    </ul> <!--As part of my Software Development certificate-->
                    I then completed an internship with a company who were so impressed with my performance that they immediately offered me a full-time position developing web applications for government agencies. It was here that I first encountered ASP.NET, C# and the .NET Framework. <!--I was impressed with the capabilities this new framework offered, so I decided to concentrate on learning the intricacies of .NET.-->
                    Eventually an opportunity arose for me to work in Microsoft as a contract QA Tester. Working in a Scrum team was a huge eye-opener for me and convinced me that this is the most effective methodology for development teams who are consistently releasing new features.
                </p>
                <p>When my contract with Microsoft expired, I returned to the role of Web Applications Developer, this time working for an ecommerce company. The web team were responsible for delivering content to 17 countries in 11 different languages! I spent three happy years with this company until I felt it was time to experience life on another continent.</p>
                <p>Upon my arrival in Canada I quickly found employment as a web developer in the online gaming sector. Working closely with the creative director, I was responsible for creating standards-compliant web templates which I then imported into the Telerik Sitefinity CMS. When that employer decided to relocate, I was recruited as a Technical Project Manager with one of the largest online promotional companies in North America. For 3 years I liaised with Fortune 500 clients to establish their requirements, conveyed these requirements to the design and development teams, allocated resources and ensured the timely completion of all projects.</p>
                <p>
                    Some time in 2014 I decided that it was time to finally complete a Bachelor of Technology in Computing that I had previously started at Dublin Institute of Technology. As of July 2016 I have passed all my exams and, with one final item of coursework to submit, I expect to be conferred in late 2016.
                    <!--</p>
                    <p>Having decided to return to a hands-on development role, I have been refreshing my skills and-->
                    In addition to that, I have recently become a <mark>Microsoft Certified Professional</mark> having successfully passed the <mark>70-480 Programming in HTML5 with JavaScript and CSS3</mark> exam, the first step toward my goal of becoming a Microsoft Certified Solutions Developer in Web Applications.
                </p>
                <p>In my spare time I love to snowboard and take every opportunity I get to enjoy the spectacular North Shore mountains, Whistler and further afield. I am a qualified CASI Level 1 Snowboard Instructor and during the 2015/2016 winter season I volunteered with Vancouver Adaptive Snow Sports, a wonderful charity organisation dedicated to making the mountain accessible for all. I attempt to play rugby with the East Vancouver Scribes, and I enjoy living life to the fullest in Beautiful BC.</p>

            </article>
        </section>

    </main>
</section>