@{
    ViewBag.Title = "Home";
}

<section id="wrapper" class="wrapper container">
    <main>
        <section class="row">
            <article id="intro" class="col-xs-10 col-xs-offset-1">
                <div class="row">

                    <div class="col-xs-12 col-sm-9 col-sm-push-3">
                        <h3>Welcome!</h3>
                        <p>
                            Hi, I'm Cronán Gogarty, a web developer in Vancouver BC.
                            @*<br />*@
                            I specialize in ASP.NET, C#, HTML5, JavaScript and CSS3. <!--I also dabble in Bootstrap, Less, Git, jQuery and whatever else it takes to get the job done!-->
                        </p>
                        <!--<p>I've previously worked as a Project Manager in the online space.</p>-->
                        <p>
                            I'm currently seeking employment within the Vancouver area.
                            @*<br />*@
                            If you are interested in hiring me, get in touch.
                        </p>
                    </div>
                    <div id="introImage" class="col-xs-12 col-sm-3 col-sm-pull-9">

                        <img src="/Content/Images/Cronan-Gogarty/cronan-gogarty-linkedin-500.png" width="150" height="150" class="img-responsive" />
                    </div>
                </div>
            </article>
        </section>

        <section class="row">
            <article id="portfolio-thumbs" class="text-center clearfix">
                <div class="">
                    <div class="col-sm-12">
                        <h2>Previous Work</h2>
                    </div>
                </div>
                <div class="">
                    <div class="col-sm-6">
                        <a href="~/Portfolio/ViewItem/1"><img class="img-responsive" src="@Url.Content("../../Content/Images/Portfolio/Screenshots/Thumbnails/Colt-Poker.png")" alt="Colt Poker"></a>
                    </div>
                    <div class="col-sm-6">
                        <a href="~/Portfolio/ViewItem/4"><img class="img-responsive" src="@Url.Content("../../Content/Images/Portfolio/Screenshots/Thumbnails/HiLife-Poker.png")" alt="HiLife Poker"></a>
                    </div>
                </div>
                <div class="">
                    <div class="col-sm-6">
                        <a href="~/Portfolio/ViewItem/3"><img class="img-responsive" src="@Url.Content("../../Content/Images/Portfolio/Screenshots/Thumbnails/Russell-Fastraxx.png")" alt="Russell Fastraxx"></a>
                    </div>
                    <div class="col-sm-6">
                        <a href="~/Portfolio/ViewItem/5"><img class="img-responsive" src="@Url.Content("../../Content/Images/Portfolio/Screenshots/Thumbnails/National-Pen.png")" alt="National Pen"></a>
                    </div>
                </div>
            </article>
        </section>

        <hr class="marginHr" />

        <section class="row text-center">
            <div class="col-sm-4">
                <!--<a href="Cronan-Gogarty.html" title="Cronán Gogarty Images">Cronán Gogarty Images</a>-->
                <h2>GitHub</h2>
                <p><a href="https://github.com/CronanGogarty" target="_blank" id="GitHub">My GitHub Profile</a></p>
                <p>I have some examples of code on GitHub. Click on the link to open GitHub in a new tab.</p>
            </div>
            <div class="col-sm-4">
                <!--<a href="Cronan-Gogarty.html" title="Cronán Gogarty Images">Cronán Gogarty Images</a>-->
                <h2>JSFiddle</h2>
                <p><a href="https://jsfiddle.net/user/CronanGogarty/fiddles/" target="_blank" id="JSFiddle">My JSFiddle Profile</a></p>
                <p>I use JSFiddle to write some quick JavaScript, CSS and HTML. Click on the link to open JSFiddle in a new tab.</p>
            </div>
            <div class="col-sm-4">
                <!--<a href="Cronan-Gogarty.html" title="Cronán Gogarty Images">Cronán Gogarty Images</a>-->
                <h2>CodePen</h2>
                <p><a href="http://codepen.io/CronanGogarty/" target="_blank" id="CodePen">My CodePen Profile</a></p>
                <p>I use CodePen to experiement with front-end technologies. Click on the link to open CodePen in a new tab.</p>
            </div>
        </section>
    </main>
</section>


