@model IEnumerable<CronanGogarty.com.Models.IPortfolioItem>

@{
    ViewBag.Title = "Portfolio";
}

<!-- Page Header -->


<section id="wrapper" class="wrapper container">
    <main>
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    Portfolio
                    @*<small>Examples of my previous development work</small>*@
                </h1>
            </div>
        </div>
        <section class="row">
            <article id="portfolio-thumbs">
                <div class="">

                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6">
                            <h3>
                                <a href="#">@Html.DisplayFor(modelItem => item.Title)</a>
                            </h3>
                            <a href="~/Portfolio/ViewItem/@Html.DisplayFor(modelItem => item.ItemID)">
                                <img class="img-responsive" src="~/@Html.DisplayFor(modelItem => item.thumbnailImage)" alt="">
                            </a>
                        </div>


                    }

                </div>
            </article>
        </section>
    </main>
</section>




